<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="container">
      <div class="navbar-header">
    <% if controller?("cohort") && action?("index", "show", "data", "attendance")%> 
     <a><%= link_to_unless_current "Cohort's Home", cohort_path, :class => "btn btn-success" %></a>
     <a><%= link_to_unless_current 'Students', cohort_show_path, :class => "btn btn-success" %></a>
     <a><%= link_to_unless_current 'Data', cohor_data_path, :class => "btn btn-success" %></a>
     <a><%= link_to_unless_current 'Attendance', cohort_att_path, :class => "btn btn-success" %></a>
     <%end%>
      </div>
  </div>
</div>
