<html>
<head>
	<title></title>
</head>
<body>
	<div class="container-fluid">
	<h1> Archived</h1>
	<ul> 
		<% @cohorts.each do |cohort| %>
		<li><h2><%=link_to "Cohort #{cohort.name}", cohort_show_path(cohort.id), :"data-no-turbolink" => true %></h2></li>
		<%end%>
	</ul>
	<div>
<!-- archive toggle button here -->
	</div>
   </div>

</body>
</htm