<html>
<head>
	<title></title>
	<script type="text/javascript"></script>
</head>
<body>
<div class="container-fluid">
	<h1><%=@klass.subject%> <%=@klass.name%></h1>
	<hr>
	<h2> Class Attendance </h2>
	<div class="chart">
		<div id="chart" class="c3"></div>
	</div>
	<h2> Average Comprehension </h2>
	<div class="compChart">
		<div id="compChart" class="c3"></div>
	</div>
</div>
</body>
</html>