<h1>cohort show page</h1>
<ul>
<% @cohort.each do |student|%>
<li>
	<div class="row">
		<div class="col-md-4">
			<%= student.name%> 
		</div>
		<div class="col-md-4">
			<!-- mock up button that will change color. -->
			<button type="button" class="btn btn-success">Good
			</button>
		</div>
		<div class="col-md-4">
			Flag message in here
		</div>
	</div>
</li>
<% end %>
</ul>
